@function stripUnit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

@function remCalc($px) {
  @return (stripUnit($px)/stripUnit($oneRem))+rem;
}