<template lang="pug">
  Chatwindow(:chat = "chat" :userName = "userName" :userLevel = "userLevel" remoteUsername = "Host")
</template>

<script>
import Chatwindow from "@/components/Chatwindow";

export default {
  name: "client",
  components: {
    Chatwindow
  },
  watch: {
    userName() {
      // console.log("userName updated");
      if (this.userName === null) {
        this.userName = "";
      }
      document.title = document.title + " | " + this.userName;
    }
  },
  sockets: {
    updateChats(newChats) {
      // console.log(newChats);
      this.chat = newChats;
    }
  },
  data() {
    return {
      userName: "",
      userLevel: "client",
      chat: {
        id: undefined,
        messages: []
      }
    };
  },
  methods: {
    getName() {
      this.userName = prompt("przedstaw się", "Client");
    }
  },
  mounted() {
    this.getName();
  }
};
</script>
