<template lang="pug">
  .container
    .columns.col-oneline
      .column.col-12
        .status
          p.status-info(v-if="chats.length === 0") No connected clients
          p.status-info(v-else) Number of connected clients: {{chats.length}}
    .columns.col-oneline
      .column.col-4(v-for="chat, key, idx in chats" :key="key")
        .wrapper
          Chatwindow(:chat = "chat" :chatId = "chat.id" :userName = "userName" :userLevel = "userLevel" :remoteUsername = "chat.author" )
</template>

<script>
import Chatwindow from "@/components/Chatwindow";

export default {
  name: "host",
  components: {
    Chatwindow
  },
  sockets: {
    updateChats(newChats) {
      // console.log(newChats);
      this.chats = newChats;
    }
  },
  data() {
    return {
      userName: "Host",
      userLevel: "host",
      chats: []
    };
  },
  created() {
    document.title = document.title + " | " + this.userName;
  }
};
</script>
<style lang="scss" scoped>
.wrapper {
  position: relative;
  height: 95vh;
}
.status {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.status-info {
  margin-bottom: 0;
}
</style>
