<template lang="pug">
  .chatwindow(:class="isLoading")
    header.chatwindow-header
      button.btn.btn-link
       i.icon.icon-arrow-left
      h1.chatwindow-header_title Chat with {{(remoteUsername === "" ? "Unknown" : remoteUsername)}}
      button.btn.btn-link
       i.icon.icon-more-vert

    transition-group(name="fade" tag="ul" class="chatwindow-messages" appear)
      li.chatwindow-message(
        v-for="messageData, key, idx in chat.messages"
        :key="key",
        :class="{'chatwindow-message--author': (messageData.level === userLevel) ? true: false }")
        figure.chatwindow-avatar.avatar(:data-initial="messageData.username | trimName")
        .chatwindow-message_content(:data-key="key") {{messageData.message}}

    .chatwindow-controls
      input.form-input.chatwindow-input(ref="chatwindow_message", @keydown.enter="sendMessage" :class="{'is-error' : chatwindowInputError}")
      button.btn.btn-action.btn-primary.s-circle.chatwindow-button.chatwindow-button--send(@click="sendMessage")
        i.icon.icon-message
</template>

<script>
export default {
  name: "chatwindow",
  filters: {
    trimName(name, toLenght = 2) {
      return name.substring(0, toLenght);
    }
  },
  data() {
    return {
      chatwindowInputError: false,
      chatUpdated: false,
      focused: null
    };
  },
  watch: {
    chat(n, o) {
      if (n.messages.length !== o.messages.length) {
        this.chatUpdated = true;
      }
    },
    chatUpdated(n) {
      if (n) {
        this.scrollToBottom();
        this.chatUpdated = false;
      }
    }
  },
  computed: {
    isLoading() {
      return {
        loading: this.chat.messages.length === 0 && this.userLevel === "host"
      };
    }
  },
  methods: {
    sendMessage() {
      if (this.$refs.chatwindow_message.value !== "") {
        this.chat.messages.push({
          username: this.userName,
          level: this.userLevel,
          message: this.$refs.chatwindow_message.value
        });
        let socketEvent = `${this.userLevel}-send-message`;
        this.$socket.emit(socketEvent, {
          chatId: this.chatId,
          // author: this.userName,
          message: this.$refs.chatwindow_message.value,
          username: this.userName
        });
        this.$refs.chatwindow_message.value = "";
        this.chatUpdated = true;
      } else {
        this.signalInputError();
      }
    },
    signalInputError() {
      this.chatwindowInputError = true;
      setTimeout(() => {
        this.chatwindowInputError = false;
        this.$refs.chatwindow_message.focus();
      }, 250);
    },
    scrollToBottom() {
      setTimeout(() => {
        const messagesWrapper = this.$el.querySelector(".chatwindow-messages");
        messagesWrapper.scrollTop = messagesWrapper.scrollHeight;
      }, 150);
    }
  },
  mounted() {
    // console.log(this.$options.name + " mounted");
  },
  props: {
    chat: Object,
    chatId: String,
    remoteUsername: String,
    userName: {
      type: String,
      reqired: true
    },
    userLevel: {
      type: String,
      reqired: true,
      default: "client",
      validator: value => ["client", "host"].indexOf(value) >= 0
    }
  }
};
</script>


<style lang="scss" scoped>
@import "@/styles/customCss";

%paddings {
  padding: 0 remCalc(8);
}
%addStripe {
  border-bottom: 3px solid darken($gray, 55%);
  border-radius: 0 0 remCalc(2) remCalc(2);
}
.chatwindow {
  height: 100%;
  width: 100%;
  position: absolute;
  &.loading {
    opacity: 0.5;
  }
}
.chatwindow-header {
  @extend %paddings;
  @extend %addStripe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: darken($gray, 4%);
  height: remCalc(48);
  overflow: hidden;
}

.chatwindow-header_title {
  margin: 0;
  flex-grow: 1;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: remCalc(20);
  padding-left: remCalc(8);
  line-height: 1em;
}
.chatwindow-messages {
  @extend %paddings;
  margin: 0;
  position: absolute;

  //height of chatwindow-header + .chatwindow-controls + 8px margin bottom
  height: calc(100% - #{$headerHeight + $controlsHeight + 8px});
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}
.chatwindow-message {
  display: flex;
  text-align: left;

  &--author {
    flex-direction: row-reverse;
    .chatwindow-message_content {
      margin-left: 0;
      margin-right: remCalc(30);
      background-color: darken($gray, 4%);
      &:before {
        left: auto;
        right: remCalc(-$arrow-size);
        border-top-color: darken($gray, 4%);
      }
    }
  }
}

.chatwindow-message_content {
  @extend %addStripe;
  background-color: $gray;
  position: relative;
  width: calc(100% - 124px);
  margin-left: remCalc(30);
  padding: remCalc(15) remCalc(30);
  &:before {
    content: "";
    width: 0;
    height: 0;
    border-left: $arrow-size solid transparent;
    border-right: $arrow-size solid transparent;
    border-top: $arrow-size solid $gray;
    position: absolute;
    left: remCalc(-$arrow-size);
    top: 0;
    z-index: -1;
  }
}
.chatwindow-avatar {
  flex-shrink: 0;
}
.chatwindow-controls {
  @extend %paddings;
  @extend %addStripe;
  height: remCalc($controlsHeight);
  background-color: lighten($gray, 2%);
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.chatwindow-button {
  flex-shrink: 0;
}
.chatwindow-input {
  margin-right: remCalc(28);
  margin-left: remCalc(60px);
}

//// transitions

//from left to right if message from remote chatter
.fade-enter-active {
  transition: opacity 0.2s ease-out 0.1s, transform 0.25s ease-out;
  transform-origin: 0 50%;
}

//from right to left if message from author chatter
.chatwindow-message--author.fade-enter-active {
  transform-origin: 100% 50%;
}

.fade-enter {
  opacity: 0;
  transform: scale(0, 1);
}
</style>